.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section {
    width: 350px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@media only screen and (min-width: 900px) {
    .section {
        width: 30%;
    }
}
